body {
	background-image: url("peaceful-blur-background-4k_1555207903.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#main {
	width:500px;
	height: 350px;
	background: #fafafa;
	margin: auto;
	font-family: "Candara";
	font-size: 18pt;
	text-align: center;
	color: #4d4d4d;
}
h1 {
	font-size: 25pt;
	color:#4d4d4d;
}
#logIn {
	text-align:right;
	font-family: "Times New Roman";
	font-size: 14pt;
	color: ##fafafa;
	margin-right: 15px;
	margin-top: 20px;
}
#navBar {
	width: 1485px;
	height: 50px;
	background: #fafafa;
}
#webName{
	text-align:left;
	margin-left: 15px;
	margin-top:-68px;
	font-family: "Candara";
	font-size:18pt;
	color: #4d4d4d;
}
#searchBar {
	text-align:right;
	margin-top: -64.5px;
	margin-right: 15px;
	font-family:"Candara";
	font-size: 18pt;
}
input {
		font-family:"Candara";
	font-size: 18pt;
}