	body {
  		background-image: url("peaceful-blur-background-4k_1555207903.jpg");
  		 background-repeat: no-repeat;
  		 background-size: cover;
  		 text-align: center;
	}
 	h1 {
 		margin: 15px;
 		font-family: verdana;
 		text-align:center;
 		color: white;

 	}
 	form {
 		margin: 15px;
 		text-align:center;
 	}
 	p {
 		color: white;
 		font-family: verdana;
 		font-size: 150%;
 		border: 10px solid white;
 		border-style: double;
 		text-align:center;
 	   }